.menu {
	display: flex;
	align-items: center;
	height: 64px;
	padding-left: 32px;
	background: #FFF;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.menu a {
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 32px;
	color: #17496E;
	text-decoration: none;
	font-weight: 700;
	transition: opacity 0.2s;
}

.menu a:hover {
	opacity: 0.8;
}

.menu svg {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	color: #17496E;
}

@media screen and (max-width: 480px) {
	.menu {
		justify-content: space-around;
		padding-left: 0px;
	}

	.menu svg {
		margin-right: 0px;
		margin-bottom: 4px;
	}

	.menu a {
		flex-direction: column;
		width: 30%;
		margin-right: 0px;
	}
}