.card {
	display: flex;
	justify-content: space-between;
	border: 1px solid #dcdce6;
	border-radius: 8px;
}

.item {
	padding: 16px;
	text-align: center;
}

.item .title {
	font-weight: 500;
	color: #17496E;
	margin-bottom: 4px;
}

.item .data {
	font-size: 18px;
	font-weight: 500;
	color: #05111a;
}

.item .dataPositive {
	font-size: 18px;
	font-weight: 500;
	color: green;
}

.item .dataNegative {
	font-size: 18px;
	font-weight: 500;
	color: red;
}

@media screen and (max-width: 750px) {
	.card {
		flex-direction: column;
		padding: 8px;
	}

	.item {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 8px;
		border-bottom: 1px solid #dcdce6;
	}

	.item:last-child {
		border-bottom: 0px;
	}

	.item .title {
		margin-bottom: 0px;
	}
}