.card {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-left: 1rem;
	border: 1px solid #dcdce6;
	border-radius: 8px;
	text-align: center;
	white-space: nowrap;
}

.item {
	padding: 1rem;
}

.item .title {
	margin-bottom: 4px;
	font-size: 1rem;
	font-weight: 500;
	color: #17496E;
}

.item .data {
	font-size: 1.25rem;
	font-weight: 500;
	color: #05111a;
}

.item .dataPositive {
	font-size: 1.25rem;
	font-weight: 500;
	color: green;
}

.item .dataNegative {
	font-size: 1.25rem;
	font-weight: 500;
	color: red;
}

@media screen and (max-width: 1024px) {
	.card {
		margin-left: 0;
	}
}

@media screen and (max-width: 768px) {
	.card {
		flex-direction: column;
		align-items: initial;
		padding: 8px;
	}

	.item {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 8px;
		border-bottom: 1px solid #dcdce6;
	}

	.item:last-child {
		border-bottom: 0px;
	}

	.item .title {
		margin-bottom: 0px;
	}
}