@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	font: 400 14px Roboto, sans-serif;
	background: #17496E;
	-webkit-font-smoothing: antialiased;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0px auto;
}

.content {
	background: #FFF;
	margin: 8px 0px;
	padding: 32px;
	border-radius: 8px;
}

.loading {
	display: flex;
	align-items: center;
	flex-direction: row;
	color: #17496E;
}

.loading svg {
	width: 32px;
	height: 32px;
	margin-right: 16px;
	color: #17496E;
}

.loading.error, .loading.error svg {
	color: red;
}

h1 {
	margin-bottom: 16px;
	font-size: 24px;
	font-weight: 500;
}

h2 {
	font-weight: 500;
}

input {
	width: 100%;
	height: 40px;
	color: #333;
	border: 1px solid #dcdce6;
	border-radius: 8px;
	padding: 0 8px;
}

form .field {
	margin-bottom: 16px;
}

input, button, textarea {
	font: 400 14px Roboto, sans-serif;
}

button {
	cursor: pointer;
}

.button {
	width: 100%;
	height: 40px;
	background: #17496E;
	border: 0;
	border-radius: 8px;
	color: #FFF;
	font-weight: 500;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	transition: filter 0.2s;
}

.button:hover {
	filter: brightness(90%);
}

.back-link {
	display: inline-flex;
	align-items: center;
	margin-top: 32px;
	color: #17496E;
	font-size: 16px;
	text-decoration: none;
	font-weight: 500;
	transition: opacity 0.2s;
}

.back-link svg {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	color: #17496E;
}

.back-link:hover {
	opacity: 0.8;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container .content form {
	width: 100%;
	max-width: 400px;
	margin-top: 32px;
}

.container .content form label {
	display: block;
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 16px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table th {
	text-align: left;
}

tbody tr:hover {
	background-color: #f5f5f5;
}

table th, table td {
	padding: 8px;
	border-bottom: 1px solid #dcdce6;
	color: #05111a;
}

table th {
	font-weight: 500;
	color: #737380;
}

table td {
	height: 60px;
	color: #05111a;
}

table th.price, table td.price {
	text-align: center;
}

table th.action, table td.action {
	text-align: center;
	width: 100px;
	min-width: auto;
}

table td.action button {
	border: 0;
	margin: 0px 4px;
}

table td.action div {
	display: flex;
	justify-content: center;
}

table td.action a, table td.action button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	background-color: #eee;
	border: 1px solid #dcdce6;
	border-radius: 8px;
}

table td.action a svg, table td.action button svg {
	width: 20px;
	height: 20px;
	color: #17496E;
}

table tfoot td {
	border: 0px;
	font-weight: bold;
}

table.stock-info {
	margin-bottom: 32px;
}

table.stock-info td {
	font-size: 16px;
}

table.stock-info td.stock-symbol {
	font-size: 24px;
	font-weight: 500;
}

.profit {
	display: block;
	margin-top: 4px;
	font-size: 12px;
	font-weight: 500;
}

.profit.positive {
	color: green;
}

.profit.negative {
	color: red;
}

.Toastify__toast {
	padding: 16px;
	border-radius: 8px;
}

@media screen and (max-width: 750px) {
	table tr {
		display: block;
		padding: 8px;
		border: 1px solid #dcdce6;
		text-align: center;
		border-radius: 8px;
		margin-bottom: 16px;
	}

	table tr:last-child {
		margin-bottom: 0px;
	}
	
	table thead {
		display: none;
	}
	
	table td {
		display: block;
		border: 0;
		width: 100%;
		height: auto;
		text-align: justify;
		line-height: 1.5em;
	}
	
	table td:before {
		content: attr(data-header);		
		display: block;		
		font-weight: bold;
		color: #737380;
	}

	table th.price, table td.price {
		width: 100%;
		text-align: left;
	}

	table td.action {
		width: 100%;
	}

	table td.action a, table td.action button {
		width: 100%;
	}

	table tfoot tr {
		margin-top: 16px;
		padding-top: 16px;
		padding-bottom: 16px;
	}

	table tfoot td {
		padding: 0px;
		text-align: center;
	}
}
