@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	font: 400 14px 'Inter', sans-serif;
	background: #FFF;
}

.container {
	width: 100%;
	margin: 0px auto;
}

.content {
	background: #FFF;
	padding: 32px;
}

.loading {
	display: flex;
	align-items: center;
	flex-direction: row;
	color: #17496E;
}

.loading svg {
	width: 32px;
	height: 32px;
	margin-right: 16px;
	color: #17496E;
}

.loading.error, .loading.error svg {
	color: red;
}

h1 {
	margin-bottom: 1rem;
	font-size: 2.5rem;
}

h2 {
	font-size: 1.5rem;
}

input {
	width: 100%;
	height: 40px;
	color: #333;
	border: 1px solid #dcdce6;
	border-radius: 8px;
	padding: 0 8px;
}

form .field {
	margin-bottom: 16px;
}

input, button, textarea {
	font: 400 14px 'Inter', sans-serif;
}

button {
	cursor: pointer;
}

.button {
	width: 100%;
	height: 40px;
	background: #17496E;
	border: 0;
	border-radius: 8px;
	color: #FFF;
	font-weight: 500;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	transition: filter 0.2s;
}

.button:hover {
	filter: brightness(90%);
}

.back-link {
	display: inline-flex;
	align-items: center;
	margin-top: 32px;
	color: #17496E;
	font-size: 16px;
	text-decoration: none;
	font-weight: 500;
	transition: opacity 0.2s;
}

.back-link svg {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	color: #17496E;
}

.back-link:hover {
	opacity: 0.8;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container .content form {
	width: 100%;
	max-width: 400px;
	margin-top: 32px;
}

.container .content form label {
	display: block;
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 16px;
}

.page-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
    margin-bottom: 1rem;
}

.page-header-right {
	display: flex;
	flex: 1;
    justify-content: space-between;
}

.page-header-title {
	font-size: 2.5rem;
    font-weight: bold;
	color: #05111a;
}

.page-header-button {
    display: flex;
	align-items: center;
	background-color: #eee;
	border: 1px solid #dcdce6;
	border-radius: 8px;
	padding: 8px;
	color: #17496E;
	font-weight: 500;	
}

.page-header-button svg {
	width: 20px;
    height: 20px;
    color: #17496E;
	margin-right: 4px;
}

.stock-header-right {
	display: flex;
	flex: 1;
	align-items: center;
}

.stock-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 16px;
}

.stock-price-positive {
	font-size: 1.5rem;
    font-weight: 500;
	color: green;
}

.stock-price-negative {
	font-size: 1.5rem;
	font-weight: 500;
	color: red;
}

.stock-min-max {
	color: #737380;
	font-weight: 500;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table th {
	text-align: left;
}

tbody tr:hover {
	background-color: #f5f5f5;
}

table th, table td {
	padding: 8px;
	border-bottom: 1px solid #dcdce6;
	color: #05111a;
}

table th {
	font-weight: 500;
	color: #737380;
	text-align: center;
}

table td {
	height: 50px;
	color: #05111a;
	text-align: center;
}

table td.strong {
	font-weight: 500;
}

table th.price, table td.price {
	text-align: center;
}

table th.action, table td.action {
	text-align: center;
}

table td.price span.total {
	font-weight: 500;
}

table td.price span.positive {
	font-weight: 500;
	color: green;
}

table td.price span.negative {
	font-weight: 500;
	color: red;
}

table td.action button {
	border: 0;
	margin: 0px 4px;
}

table td.action div {
	display: flex;
	justify-content: center;
}

table td.action a, table td.action button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	background-color: #eee;
	border: 1px solid #dcdce6;
	border-radius: 8px;
}

table td.action a svg, table td.action button svg {
	width: 20px;
	height: 20px;
	color: #17496E;
}

table input {
	max-width: 200px;
	text-align: center;
}

.profit {
	display: block;
	margin-top: 4px;
	font-size: 12px;
	font-weight: 500;
}

.profit.positive {
	color: green;
}

.profit.negative {
	color: red;
}

.Toastify__toast {
	padding: 16px;
	border-radius: 8px;
}

.charts {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 1024px) {
	.page-header {
		display: block;
		flex-direction: column;
	}

	.page-header-right {
		margin-bottom: 0.5rem;
	}

	.page-header-title {
		display: block;
	}

	.stock-header-right {
		margin-bottom: 16px;
	}

	table tr {
		display: block;
		padding: 8px;
		border: 1px solid #dcdce6;
		text-align: center;
		border-radius: 8px;
		margin-bottom: 16px;
	}

	table tr:last-child {
		margin-bottom: 0px;
	}
	
	table thead {
		display: none;
	}
	
	table td {
		display: block;
		border: 0;
		width: 100%;
		height: auto;
		text-align: justify;
	}
	
	table td:before {
		content: attr(data-header);		
		display: block;
		margin-bottom: 4px;
		font-weight: 500;
		color: #737380;
	}

	table td.view:before {
		content: attr(data-header);		
		float: left;
		margin-bottom: 0px;
		text-align: left;
		font-weight: 500;
		color: #737380;
	}

	table td.view {
		text-align: right;
		border-bottom: 1px solid #dcdce6;
	}

	table td.action {
		width: 100%;
	}

	table td.action a, table td.action button {
		width: 100%;
	}

	table input {
		max-width: 100%;
		text-align: initial;
	}

	.empty {
		display: none;
	}

	.page-header {
		display: block;
	}
}
